

.main-header {
    padding: 2rem 0;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 1em;
    color: yellow;
    text-shadow: 0px 0px 2px black;
}
.intro {
  margin: auto;
  padding-top: 1em;
  width: 90%;
  max-width: 1200px;
  margin-bottom: 4em;
  .readMore-top {
    font-size: 1.2em;
  }
}
.credit {
    margin: auto;
    padding-top: 1em;
    width: 90%;
    p {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-bottom: .5em;
        padding-bottom: 0;
        letter-spacing: .3rem;
        font-size: 2em;
        display: block;
        a {
            text-decoration: none;
            width: 100%;
        }
    }
    a {
        display: block;
        text-align: center;
    }
    p {
        a:hover {
            color: yellow;
            text-shadow: 0px 0px 2px black;
            transform: scale(1.2);
        }
    }
}
.pageFooter {
    margin-top: 300px;
    padding: 2em 0;
    background-color: yellow;
    color: black;
    font-family: "Roboto";
    h2 {
        text-align: center;
        font-size: 1em;
    }
}
@media (min-width: 700px) {
  .main-header {
          font-size: 1.5em;
  }
}
@media (min-width: 1000px) {
  .main-header {
          font-size: 2em;
  }
}