.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 215px;
  height: 99vh;
  overflow: auto;
  border: 1px solid rgb(49, 49, 49);
  font-family: "Roboto";
  background-color: black;
  h2 {
    margin: 0;
    padding: 0.5rem 0;
    text-align: center;
    color: var(--black);
    background-color: yellow;
    border-bottom: 1px solid rgb(49, 49, 49);
  }
  .navBar {
    padding-left: 0;
    li {
      display: flex;
      align-items: center;
      //background-color: rgb(243, 243, 66);
      border-bottom: 1px solid var(--jsThemeClr);
      margin-bottom: 0;
      a {
        height: 2em;
        padding: 0.5em;
        display: block;
        width: 100%;
        height: 100%;
        font-weight: 600;
        letter-spacing: 2px;
        color: white;
        text-decoration: none;
    }
}
li a:hover {
    background-color: yellow;
    color: var(--black);
    }
  }
}

@media (min-width: 1000px) {
  .main-nav {
    min-width: 275px;
  }
}
