.chapter {
    margin: auto;
    padding-top: 1.5em;
    width: 95%;
    h2 {
        font-size: 1.75em;
        color: yellow;
        text-shadow: 0px 0px 2px black;
    }
}
.subHeader {
    font-size: 1.25em;
    font-weight: 600;
}
.note {
    margin-bottom: -1rem;
    font-weight: 600;
}
.consoleDisplay {
    font-weight: 600;
    font-style: italic;
}
.quote {
    margin: 2rem auto;
    width: 80%;
    max-width: 650px;
    text-align: center;
}
.vidChapters {
    display: none;
}
.mdnDoc {
    padding: 1.25em;
    color: white;
    background-color: black;
    border-radius: 1em;
}

@media (min-width: 700px) {
  .chapter {
      h2 {
          font-size: 2em;
      }
  }
}